<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.home">{{ 'home' | uppercase }}</a>
    </li>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.moviePopular">{{ 'movies' | uppercase }}</a>
    </li>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.movieLatest">{{ 'latest' | uppercase }}</a>
    </li>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.movieTopRated">{{ 'top rated' | uppercase }}</a>
    </li>
    <li ui-sref-active="pure-menu-selected">
      Search: <input ng-model="query">
    </li>
    <li ui-sref-active="pure-menu-selected">
    <div class="searchbutton"><a href ui-sref="root.search({query : query})">{{'search' | uppercase}}</a></div>
    </li>
  </ul>
</div>
