<div>
  <ul class="genre-list display-detail">
    <li data-ng-repeat="movie in ::vm.genres track by $index">
      {{ ::vm.genres }}
    </li>
  </ul>
  <ul class="movies display-detail">
    <li class="movie-single col-xs-6 col-sm-4 col-md-3 col-lg-2" data-ng-repeat="movie in ::vm.movies track by $index">
      <h3>{{ ::movie.original_title }}</h3>

      <div class="infos">

        <a href="" class="poster hover-flash">
          <img class="col-xs-12 col-sm-10 col-md-12 col-lg-12" src="http://image.tmdb.org/t/p/w320{{ ::movie.poster_path }}" />
          <span class="icon glyphicon glyphicon-play hidden-xs hidden-sm" aria-hidden="true"></span>
        </a>
        <div class="more-infos hidden-xs hidden-sm">
          <h4 class="title">{{ ::movie.original_title }} <span class="subtitle">({{ ::movie.release_date }} - {{ ::movie.original_language }})</span></h4>

          <div class="second-info">
            <span class="genre">Drame, Thriller</span>
            <span class="separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="rating">{{ ::movie.vote_average }} / 10</span>
          </div>

          <p class="synopsis">
              {{ ::movie.overview }}
          </p>
        

    </li>
  </ul>
</div>
