<div>
  <ul class="genre-list display-detail">
    <li data-ng-repeat="movie in ::vm.genres track by $index">
      {{ ::vm.genres }}
    </li>
  </ul>
  <ul class="movie-list display-detail">
    <li class="movies col-xs-6 col-sm-4 col-md-2 col-lg-2" data-ng-repeat="movie in ::vm.movies track by $index">
      <h3>{{ ::movie.original_title }}</h3>

      <div class="infos">
        <div class="poster">
            <img class="col-xs-12 col-sm-10 col-md-12 col-lg-12" src="http://image.tmdb.org/t/p/w185{{ ::movie.poster_path }}" />
        </div>
        <div class="type"></div>
        <div class="language">{{ ::movie.original_language }}</div>
        <div class="createdBy">Created By Avatar</div>
        <p class="overview">
          {{ ::movie.overview }}
        </p>
        <div class="date">
            <div class="day">25</div>
            <div class="month">Dec</div>
        </div>
        <div class="backdrops">
            <ul>
              <li><img src="http://image.tmdb.org/t/p/w185{{ ::movie.backdrop_path }}" /></li>
              <li><img src="http://image.tmdb.org/t/p/w185{{ ::movie.backdrop_path }}" /></li>
              <li><img src="http://image.tmdb.org/t/p/w185{{ ::movie.backdrop_path }}" /></li>
            </ul>
        </div>
        <div class="popularity-bg">
            <div class="popularity" style="width: ({{ ::movie.vote_average }}*10)%;"></div>
        <div>
          {{ ::movie.vote_average }} /10
        </div>
    </li>
  </ul>
</div>
